<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>picker-view-column</title>
  <link rel="stylesheet" href="../../../../../style.css">
  <link rel="stylesheet" href="../../../../../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
   <div id="docContent"><div class="content custom"><h1 id="picker-view-column"><a href="#picker-view-column" aria-hidden="true" class="header-anchor">#</a> picker-view-column</h1> <blockquote><p>基础库 1.0.0 开始支持，低版本需做<a href="../framework/compatibility.html">兼容处理</a>。</p></blockquote> <p>滚动选择器子项。仅可放置于<a href="picker-view.html">picker-view</a>中，其孩子节点的高度会自动设置成与<a href="picker-view.html">picker-view</a>的选中框的高度一致</p></div></div> <!---->    


</body></html>